@media screen and (max-width: 769px) { 
    .container {
        margin: 0px 50px;
    }

    nav ul {
        width: 40%;
    }

    .hero {
        background-position: center;
    }

    .nav {
        justify-content: space-between;
    }

    .wing {
        margin-left: 20px;
    }

    .l-wing {
        margin-left: 0px;
    }

    .hero-team {
        background-position: center;
    }

    .hero-text {
        font-size: 40px;
        width: 100%;
    }   

    .inner-hero {
        margin-top: -70vh;
    }

    .inner-hero-team {
        margin-top: -20vh;
    }

    .inner-hero-research {
        margin-top: -55vh;
        line-height: 40px;
        font-size: 25px;
        /* width: 90%; */
        justify-content: space-evenly;
    }

    .shield img {
        width: 40vh;
    }

    .content-img img {
        height: 40vh;
    }

    .content-text li {
        line-height: 30px;
        font-size: 20px;
    }

    .content-text a {
        padding: 10px;
    }

    .content-text .division a {
        margin-left: -10px;
    }

    .content-img-act {
        width: 40%;
    }

    .content-img-act a {
        font-size: 15px !important;
    }

    .form {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
        .bigmac {
        display: flex;
    }

    nav ul a {
        color: whitesmoke;
    }

    nav ul{
        position: absolute;
        right: 0;
        top: 15vh;
        height: 85vh;
        flex-direction: column;
        align-items: center;
        background-color: #bf2227;
        width: 50%;
        transform: translateX(100%);
    }

    nav ul.slide {
        transform: translateX(0);
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .shield img {
        margin: 0px;
    }

    .container {
        margin: 0px 20px;
    }

    .inner-hero {
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: -80vh;
    }

    .hero-mobile {
        margin-top: 15vh;
    }

    .hero-mobile p{
        font-size: 70px;
        margin-bottom: 20px;
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }

    .content-mobile {
        flex-direction: column-reverse;
    }

    .content-img {
        margin-bottom: 15px;
        /* width: 100vw; */
    }

    .content-img img {
        max-width: 70vw;
    }

    .content-img-act {
        width: 90%;
    }

    .content-img-act img {
        margin-bottom: 20px;
    }

    .content-img-act a {
        margin-left: -10px;
    }

    .content-img-research {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;    
        width: 95%;
    }

    .inner-hero-research {
        margin-top: -70vh;
        /* margin: 0px; */
    }

    .inner-hero-team {
        margin-top: -20vh;
    }

    .form {
        width: 90%;
    }

    .footer-text ul {
        width: 100%;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 481px){
    .container {
        margin: 0px 10px;
    }

    nav ul {
        width: 80%;
    }

    .inner-hero-mobile p{
        font-size: 50px;
    }

    .inner-hero-research {
        margin-top: -70vh;
    }

    .hero-text {
        font-size: 30px;
        width: 100%;
    }

    .inner-hero {
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;
        margin-top: -50vh;
    }

    .inner-hero-team {
        margin-top: -20vh;
    }
    
    .content-img img {
        width: 100%;
        height: auto;
        margin-right: 0px;
    }

    .shield {
        display: none;
    }

    .s-wing {
        display: none;
    }

    .hero-mobile p {
        margin-bottom: 20px;
    }

    .content-img-research {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .form {
        margin: 0px auto;
        width: 80%;
    }
}
